<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Telia IoT - Sensortag</name>
    <description>
        Fetch temperature from Texas Instrument Sensortag, forward these data to Telia IoT
    </description>
    <author email="bard.lind@telia.no" href="https://developer.telia.no">
        Telia IoT Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~5.2.1" />
    <!--
    https://github.com/AlexDisler/cordova-icon
    <icon src="www/res/drawable-xxxhdpi/icon.png" />

    <platform name="android">
        <icon src="www/res/drawable-ldpi/icon.png" density="ldpi" />
        <icon src="www/res/drawable-mdpi/icon.png" density="mdpi" />
        <icon src="www/res/drawable-hdpi/icon.png" density="hdpi" />
        <icon src="www/res/drawable-xhdpi/icon.png" density="xhdpi" />
    </platform>
    -->
</widget>
